{% extends 'base.html' %}

{% block titulo %}Nosotros{% endblock titulo %}


{% block contenido %}
<div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <h2>Sobre Nosotros</h2>
        <p>Nuestra librería está formada por personas que aman el arte, la ciencia y la cultura, pensamos que la expresión artística es indispensable para que la humanidad subsista la realidad cotidiana de nuestro mundo actual y es por eso que hemos decidido ayudarte a ti a contar con las herramientas y medios adecuados para que puedas dibujar tu mundo. <div class="container mt-5">
      </div>
    </div>
  </div>
{% endblock contenido %}












